
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@255&display=swap');
/*
font-family: "Oswald", sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200&display=swap');
/*
font-family: "Montserrat", sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,200&family=Oswald:wght@255&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
/*
font-family: "Platypi", serif;
*/

* {
    padding: 0;
    margin: 0;
    font-family: "Oswald", sans-serif;
    background: #343434; /*change to dark*/
}

body {
    display: grid;
    grid-template-rows: 100vh auto;
    grid-template-columns: 130px auto;
    grid-template-areas: 
    'sidebar header header'
    'sidebar main right-nav'
    'sidebar main right-nav';
    height: 100vh;
}


/*Layout*/
.main{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 300px;
    justify-content: space-around;
}
/*Formatting*/
@media (max-width: 625px) {
    .main {
        padding-top: 0;
    }

    body {
        display: block;
        width: 400px auto;
    }
    .sidebar {
        display: block;
        height: 56px;
        justify-content: space-between;
        margin-top: 30px;
    }

    .sidebar-item {
        display: flex;
        margin-right: 30px;
    }

    .info {
        margin: 140px 30px;
        display: block;
        align-items: center;
    }
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
    margin: 0 0;
}

.sidebar a{
    text-decoration: none;
    color: #FAF9F6; /*Change to light*/
}

.title {
    display: flex;
}