<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/styles/project.css" />
    <title>About</title>
  </head>

  <body>
    <nav class="sidebar">
      <div class="sidebar-item">
        <div class="sidebar-item"><a href="/index.html">Home</a></div>
        <div class="sidebar-line"></div>
      </div>
      <div class="sidebar-copyright">©/copyright</div>
    </nav>

    <div class="title"><span>Project One</span></div>

    <div class="main">
        <p>Project description</p>
        <code>Code here</code>
        <img src="" alt="Screenshot of program working">
        <a href="projectCode/Dino/Chrome Dino Game.zip" download=""> Download Files</a>
    </div>

  </body>
</html>
<script src="script.js"></script>
